<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bitcoin Transaction Visualization</title>
    <style>
        body {
            background-color: #000000;
            margin: 0;
            overflow: hidden;
        }
        #graphcontainer {
            width: 100vw;
            height: 100vh;
        }
        svg {
            width: 100%;
            height: 100%;
        }
        #infoBox {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body oncontextmenu="return false;">
    <div id="graphcontainer">
        <svg></svg>
    </div>
    <div id="infoBox"></div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script type="module" src="../static/graph.js"></script>
</body>
</html>