<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Static Graph Visualization</title>
    <style>
        body {
            background-color: #000000;
            margin: 0;
            overflow: hidden;
        }
        #graphcontainer {
            width: 100vw;
            height: 100vh;
        }
        svg {
            width: 100%;
            height: 100%;
        }
        #infoBox {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body oncontextmenu="return false;">
    <div id="graphcontainer">
        <svg></svg>
    </div>
    <div id="infoBox"></div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const snapshot = urlParams.get('snapshot') || 'saved_graph.json'; // Fallback to 'saved_graph.json' if not provided
            loadSnapshot(snapshot);
        });

        function loadSnapshot(snapshot) {
            fetch(`/static/${snapshot}`)
                .then(response => response.json())
                .then(data => {
                    renderGraph(data);
                })
                .catch(error => console.error('Error loading graph snapshot:', error));
        }

        function renderGraph(graphData) {
            const total_width = 3840;
            const total_height = 2160;
            // const total_width = 1710;
            // const total_height = 981;
            console.log(graphData)
            console.log("Rendering graph");

            if (!Array.isArray(graphData.nodes) || !Array.isArray(graphData.edges)) {
                console.error("Graph data is not correctly structured:", graphData);
                return;
            }

            const svg = d3.select("svg"),
                  width = +svg.attr("width"),
                  height = +svg.attr("height");
            svg.selectAll("*").remove();

            const g = svg.append("g");

            // Enable zooming and panning
            svg.call(d3.zoom().on("zoom", ({ transform }) => {
                g.attr("transform", transform);
            }));
            
            // Calculate the scaling factor based on the original graph dimensions
            const xExtent = d3.extent(graphData.nodes, d => d.x);
            const yExtent = d3.extent(graphData.nodes, d => d.y);

            const xRange = xExtent[1] - xExtent[0];
            const yRange = yExtent[1] - yExtent[0];

            const scaleX = total_width / xRange;
            const scaleY = total_height / yRange;

            const scaleFactor = Math.min(scaleX, scaleY);

            // Calculate offsets to center the graph
            const offsetX = (total_width - (xRange * scaleFactor)) / 2 - xExtent[0] * scaleFactor;
            const offsetY = (total_height - (yRange * scaleFactor)) / 2 - yExtent[0] * scaleFactor;

            // Apply scaling and offsets to nodes
            graphData.nodes.forEach(d => {
                d.x = (d.x * scaleFactor) + offsetX;
                d.y = total_height - ((d.y * scaleFactor) + offsetY);  // Adjust for D3 coordinate system
            });

            // Apply scaling to edge widths
            graphData.edges.forEach(d => {
                d.strokeWidth = d.strokeWidth * scaleFactor;  // Adjust stroke width
            });

            // Render nodes
            node = g.selectAll(".node")
            node = node.data(graphData.nodes, d => d.id);

            const nodeEnter = node.enter().append("circle")
                .attr("class", d => `node node-${d.id}`)
                .attr("r", d => d.type === 'tx' ? 4 * scaleFactor : 1 * scaleFactor)
                .attr("cx", d => d.x)
                .attr("cy", d => d.y) 
                .style("fill", d => d.color)

            node.append("title").text(d => d.id);
            node = nodeEnter.merge(node);
            
            // Render edges
            link = g.selectAll(".link")

            // Update link data binding
            const nodeById = new Map(graphData.nodes.map(d => [d.id, d]));
            graphData.edges.forEach(d => {
                d.source = nodeById.get(d.source) || d.source;
                d.target = nodeById.get(d.target) || d.target;
            });
            link = link.data(graphData.edges, d => `${d.source.id}-${d.target.id}`);

            const linkEnter = link.enter().append("line")
                .attr("class", "link")
                .style("stroke", d => d.color)
                .style("stroke-width", d => d.strokeWidth)
                .attr("x1", d => d.source.x)
                .attr("y1", d => d.source.y)
                .attr("x2", d => d.target.x)
                .attr("y2", d => d.target.y);

            
            link = linkEnter.merge(link);
            
            // Nodes displayed above edges
            node.raise();
        }

    </script>
</body>
</html>